.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}



.headercontainer {
    text-align: center;
    position: relative;
}

.headertext {
    text-align: center;
    color: blueviolet;
    top: 50%;
    width: 100%;
}
    


.h1center{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}


h2 {
    text-align: center;
    font-family: 'Arial';
    font-size: 25px;
    color: #AC8823;
    padding-top: 50px;
}



.mapcontainer{
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 40px;
}


.sankeycontainer{
    width: 100%;
    padding-right: 120px;
    padding-bottom: 40px;
}

.lollipopcontainer{
    width: 100%;
    padding-bottom: 40px;
    margin: auto;
}

.bubblecontainer{
    width: 100%;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin: auto;
}

.wordcloudcontainer{
    width: 100%;
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin: auto;

}


body *{
    font-family: 'Open Sans', sans-serif;
}


p{
    font-size: 15px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.pure-g {
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    width: 100%;
}

